@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
    /* Sets background color of the entire body */
}

/* sidebar */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    background-color: #121212;
    padding: 24px;
}

.logo {
    margin-bottom: 18px;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.sidebar-item {
    display: block;
    width: calc(100% - 10px);
    box-sizing: border-box;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #121212;
    color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.sidebar-item svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #FFF;
    vertical-align: middle;
    margin-right: 5px;
}

.button-text {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.sidebar-item:focus{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: linear-gradient(180deg, #019AD6 0%, #9747FF 100%);
}

.sidebar-item:hover .button-text,
.sidebar-item:hover svg {
    color: #069AD6;
    stroke: #069AD6;
}


.sidebar-item.active:hover .button-text,
.sidebar-item.active:hover svg {
    color: #FFF;
    stroke: #FFF;
}   

/*end of sidebar */


.main-container {
    margin-left: 245px;
    margin-bottom: 100px;
    background-color: black;
}


/* .slider-frame {
    position: relative;
    overflow: hidden;
    height: 520px;
    width: 1178px;
    margin-left: 22px;
    margin-right: 22px;
} */

/*-------------SLIDE ANIMATION----------*/
/* @keyframes slide_animation {
    0% {
        transform: translateX(0px);
    }

    16% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(-1405px);
    }

    36% {
        transform: translateX(-1405px);
    }

    40% {
        transform: translateX(-2810px);
    }

    56% {
        transform: translateX(-2810px);
    }

    60% {
        transform: translateX(-4215px);
    }

    76% {
        transform: translateX(-4215px);
    }

    80% {
        transform: translateX(-5620px);
    }

    96% {
        transform: translateX(-5620px);
    }

    100% {
        transform: translateX(0px);
    }
}

.slide-images {
    display: flex;
    width: calc(1405px * 5);
    height: 620px;
    animation: slide_animation 50s infinite;
}

.img-container {
    width: 1405px;
    height: 620px;
    float: left;
} */
/*-------------END OF SLIDE ANIMATION----------*/

/*-------------NAVIGATION IMAGE----------*/
/* .carousel-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.carousel-nav-list,
.carousel-nav-items{
    display: inline-block;
}
.carousel-nav-button {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-nav-button.active {
    background-color: #fff;
} */

.hiddenbar {
    position: relative;
    left: 180px;
    top: 0;
    bottom: 0;
    width: 180px;
}


.hb11 {
    position: relative;
    left: 80px;
    top: -15px;
    bottom: 0;
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.hb1 svg {
    position: relative;
    left: 70px;
    top: -2px;
    bottom: 0;
}

.hb12 {
    position: relative;
    left: 236px;
    top: -70px;
    bottom: 0;
    display: inline-block;
    vertical-align: middle;
    color: #a8a8a8;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hb21 {
    position: relative;
    left: 80px;
    top: -83px;
    bottom: 0;
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hb2 svg {
    position: relative;
    left: 70px;
    top: -72px;
    bottom: 0;
}

.hb31 {
    position: relative;
    left: 115px;
    top: -135px;
    bottom: 0;

    vertical-align: middle;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hb3 svg {
    position: relative;
    left: 70px;
    top: -80px;
    bottom: 0;
}

.hb41 {
    position: relative;
    left: 115px;
    top: -180px;
    bottom: 0;

    vertical-align: middle;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hb4 svg {
    position: relative;
    left: 70px;
    top: -135px;
    bottom: 0;
}
/*-------------END OF NAVIGATION IMAGE----------*/